.block_tutorial_block .content {
    font-weight: bold;
    color: white;
    background-image: url([[pix:block_tutorial_block|gradient]]);
    background-repeat: repeat;
    background-size: cover;
}

.block_tutorial_block .footer {
    color: white;
}